*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#f8fafc;
    color:#1f2937;
}


/* Header */

header{
    background:#111827;
    padding:20px 8%;
    position:sticky;
    top:0;
    z-index:100;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav h2{
    color:white;
    font-size:28px;
}

nav ul{
    display:flex;
    gap:25px;
    list-style:none;
}

nav ul li a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

nav ul li a:hover{
    color:#60a5fa;
}


/* Hero Section */

.hero{
    min-height:90vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:60px 8%;
    gap:40px;
}


.hero-text{
    max-width:600px;
}


.hero-text h1{
    font-size:48px;
    margin-bottom:15px;
}


.hero-text h3{
    color:#2563eb;
    margin-bottom:15px;
}


.hero-text p{
    font-size:18px;
    line-height:1.7;
    margin-bottom:25px;
}


.buttons{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
}


.btn{
    background:#2563eb;
    color:white;
    padding:12px 25px;
    border-radius:30px;
    text-decoration:none;
    transition:0.3s;
}


.btn:hover{
    transform:translateY(-5px);
    background:#1d4ed8;
}


/* Profile Image */

.hero-img img{
    width:280px;
    height:280px;
    object-fit:cover;
    border-radius:50%;
    border:6px solid #2563eb;
}


/* Sections */

section{
    padding:70px 8%;
    text-align:center;
}


section h2{
    font-size:34px;
    margin-bottom:30px;
}


/* About */

#about p{
    max-width:750px;
    margin:auto;
    line-height:1.8;
    font-size:18px;
}


/* Cards */

.cards{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
}


.card{
    background:white;
    padding:25px;
    width:260px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,0.1);
    transition:0.3s;
}


.card:hover{
    transform:translateY(-8px);
}


/* Contact */

#contact p{
    font-size:18px;
}


/* Footer */

footer{
    background:#111827;
    color:white;
    text-align:center;
    padding:20px;
}


/* Mobile Responsive */

@media(max-width:768px){

    nav{
        flex-direction:column;
        gap:20px;
    }


    nav ul{
        flex-wrap:wrap;
        justify-content:center;
    }


    .hero{
        flex-direction:column-reverse;
        text-align:center;
    }


    .hero-text h1{
        font-size:36px;
    }


    .buttons{
        justify-content:center;
    }


    .hero-img img{
        width:220px;
        height:220px;
    }

}