*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f5f7fb;
    color:#222;
}

header{
    background:#111827;
    padding:20px 8%;
    position:sticky;
    top:0;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav h2{
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-size:16px;
}


section{
    padding:60px 8%;
    text-align:center;
}


#home{
    display:flex;
    justify-content:space-between;
    align-items:center;
    min-height:80vh;
}


.home-text{
    width:55%;
    text-align:left;
}


.home-text h1{
    font-size:45px;
    margin-bottom:15px;
}


.home-text h3{
    color:#2563eb;
    margin-bottom:15px;
}


.home-text p{
    line-height:1.6;
    margin-bottom:25px;
}


.home-image img{
    width:250px;
    height:250px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid #2563eb;
}


.btn{
    display:inline-block;
    background:#2563eb;
    color:white;
    padding:12px 25px;
    border-radius:25px;
    text-decoration:none;
}


h2{
    margin-bottom:25px;
    font-size:32px;
}


#about p{
    max-width:700px;
    margin:auto;
    line-height:1.7;
}


.skills-box{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
}


.skills-box div{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}


.project-card{
    background:white;
    margin:20px auto;
    padding:25px;
    max-width:600px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}


#contact a{
    color:#2563eb;
}


footer{
    background:#111827;
    color:white;
    text-align:center;
    padding:20px;
}


@media(max-width:768px){

    nav{
        flex-direction:column;
        gap:15px;
    }


    #home{
        flex-direction:column;
        text-align:center;
    }


    .home-text{
        width:100%;
        text-align:center;
    }


    nav ul{
        flex-wrap:wrap;
        justify-content:center;
    }

}